<h2>Create New Landmark</h2>

<form action="/landmarks" method="POST">

<p><label for="landmark_name">Name: </label><input type="text" name="landmark[name]" id="landmark_name"></p>

<p><label for="landmark_year">Name: </label><input type="integer" name="landmark[year_completed]" id="landmark_year_completed"></p>
<input type="submit" id="submit" value="Create New Landmark">

</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
